<ion-view view-title="Welcome  KBVS"  ion-icon-right >
  <ion-content class="padding">
      <div class="card padding" >
    <h2> My Profile</h2>
      </div>
    <ion-card>
      
        <ion-item>
          <ion-avatar item-start>
            <div class="row">
              <div>
                <img src="img/marty.png">
            </div>
            <div class="padding">
                <h2>James McFly</h2>
               <p>November 5, 1995</p>
              </div>
            </div>
            
            
          </ion-avatar>
          
        </ion-item>
      
       
      
        <ion-scroll style="height: 300px">
        <div class="card">
          <div class="item item-text-wrap">
           <p><b>REG NO:</b> COM/13/13</p>
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
           <p><b>SCHOOL:</b> Arts $ Social Sciences</p>
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
           <p><b>DPT:</b> Sociology</p>
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
           <p><b>GENDER:</b> MALE</p>
          </div>
        </div>
          <div class="card">
            <div class="item item-text-wrap">
             <p><b>YEAR:</b> Third</p>
            </div>
          </div>
          <div class="card">
            <div class="item item-text-wrap">
             <p><b>STATUS: </b>Not-voted</p>
            </div>
          </div>
        </ion-scroll>
      </ion-card>
  </ion-content>
</ion-view>

